<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>使用ModalView</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>设置ViewController切换Transition</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>网络请求</string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PhotoGalleryView</string>
		<key>type</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ImageSliderView</string>
		<key>type</key>
		<string>5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>TableView(Refresh And Load More)</string>
		<key>type</key>
		<string>6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Awesome CoverFlow</string>
		<key>type</key>
		<string>7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Activity Indicator</string>
		<key>type</key>
		<string>8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Message/Alert</string>
		<key>type</key>
		<string>9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>新手帮助控件</string>
		<key>type</key>
		<string>10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图文混排</string>
		<key>type</key>
		<string>11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图片处理</string>
		<key>type</key>
		<string>13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>摄像头特效</string>
		<key>type</key>
		<string>14</string>
	</dict>
    <!--
	<dict>
		<key>name</key>
		<string>AutoLayout</string>
		<key>type</key>
		<string>16</string>
	</dict>
     -->
	<dict>
		<key>name</key>
		<string>CalendarView</string>
		<key>type</key>
		<string>17</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LandTableView</string>
		<key>type</key>
		<string>18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>数据缓存(DataCache)</string>
		<key>type</key>
		<string>19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拖动排序类</string>
		<key>type</key>
		<string>20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>瀑布流</string>
		<key>type</key>
		<string>21</string>
	</dict>
	<dict>
		<key>name</key>
		<string>九宫格解锁</string>
		<key>type</key>
		<string>22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>不规则按钮(ShapedButton)</string>
		<key>type</key>
		<string>23</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图片信息</string>
		<key>type</key>
		<string>24</string>
	</dict>
	<dict>
		<key>name</key>
		<string>版本更新</string>
		<key>type</key>
		<string>25</string>
	</dict>
</array>
</plist>
